@model IdentitySample.Models.Reserva

@{
    ViewBag.Title = "Datalhes";
}

<h2>Excluir</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Reserva</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.DataReserva, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataReserva, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DataReserva, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Observacao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Observacao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Observacao, "", new { @class = "text-danger" })
            </div>
        </div>





        <table class="table" id="tabelalivros">
            <thead>
                <tr>
                    <th>
                        Livro
                    </th>
                    <th>
                        Autor
                    </th>
                    <th>
                        Editora
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 0;
                }
                @foreach (var item in Model.ReservaLivros.ToList())
                {
                <tr>
                    <td>
                        @item.Livro.Titulo
                    </td>

                    <td>
                        @item.Livro.Autor
                    </td>

                    <td>
                        @item.Livro.Editora
                    </td>
                </tr>
                    index++;
                }
            </tbody>
        </table>
















        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Excluir" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@


    <script>
        let index = @(Model.ReservaLivros.Count());
        $(document).ready(function () {

            $("#btnAdicionar").click(() => {

                $("#tabelalivros tbody").append(
                    $("<tr/>")
                        //.append($("<td/>").append("Nome do Livro"))
                        .append($("<td/>").append($("#LivroId option:selected").text()))
                        .append($("<td/>")
                            //.append("<input />")// botão remover
                            .append($('<input type="button" value="Excluir" class="btn btn-danger" />').click(ExcluirLinha))   // botão remover
                            .append("<input type='hidden' name='ReservaLivros[" + index++ + "].LivroId' value='" + $("#LivroId").val()+"' />")// input hidden com o livro id
                        )
                )
            });
        });

        function ExcluirLinha() {
            $(this).parent().parent().remove();
        }

    </script>

}
