@model IEnumerable<IdentitySample.Models.Multa>

@{
    ViewBag.Title = "Multas";
}
@Html.ActionLink("Exportar PDF", "Reports", new { ReportType = "PDF" }) |
@Html.ActionLink("Exportar Excel", "Reports", new { ReportType = "Excel" })

<h2>Multas</h2>

<p>
    @Html.ActionLink("Nova Multa", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Leitor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Livro.Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusPagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MotivoMulta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Leitor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Livro.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusPagamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MotivoMulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observacao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Excluir", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
