@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Você tem certeza que deseja Excluir @Model.UserName</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="SIM" class="btn btn-default" /> |
            @Html.ActionLink("Não | Voltar", "Index")
        </div>
    }
</div>
